.App {
  text-align: left;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 219, 219) 0%,
    rgb(229, 248, 250) 90%
  );

  background-size: 100%;
}

h1 {
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  font-family: "PT Mono";
  font-weight: bold;
}

form {
  text-align: center;
  padding: 20px;
}

.footer {
  text-align: center;
}

footer {
  font-size: 10px;
  margin-top: 10px;
  padding-top: 20px;
}

.background-box {
  background-color: rgba(255, 255, 255, 0.816);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: 1000px;
  box-shadow: 5px 5px 5px rgba(19, 19, 20, 0.2);
}
