.meaning {
  background-color: #eae7e7;
  background-size: fixed;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.514);
  border-radius: 8px;
}

.Dictionary a {
  color: black;
}

.Dictionary .input {
  border: 1px solid #ddd;
}

.hint {
  font-size: 11px;
  margin: 5px;
  text-align: left;
  color: #fdfafa;
}

.prompt {
  margin-left: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #f0eeee;
  font-weight: bold;
}

form {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: white;
}
