.meaning {
  padding: 10px;
  margin: 10px;
}

.part-of-speech {
  font-size: 22px;
  text-align: left;
  margin-left: 18px;
  color: #155e63;
}

.example {
  font-size: 13px;
  font-style: italic;
}

hr.definition-division {
  border: 2px solid #155e63;
  border-radius: 5px;
}
