.meaning {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.part-of-speech {
  font-size: 22px;
  text-align: left;
  color: #00a19d;
  font-weight: bold;
  font-family: "PT Mono";
  line-height: 30px;
}

.example {
  font-size: 13px;
  font-style: italic;
}

hr.definition-division {
  border: 2px solid #155e63;
  border-radius: 5px;
}

.definition {
  font-size: 14px;
}
